@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* General Product Overview Styles */
.products-overview {
  padding: 30px;
  background-color: var(--background-color);
  font-family: var(--font-family-lato), var(--font-family-manrope), Arial, sans-serif;
  color: var(--text-color);
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

/* Flexbox grid layout for products */
.sensor-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

/* Product Card Styles */
.sensor-card {
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-shadow: var(--light-shadow1);
  padding: 25px;
  width: 100%;
  max-width: 330px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 4px solid var(--primary-color);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  color: var(--text-color);
}

.sensor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* Product Name Styling */
.sensor-card h3 {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Sensor Information Styling */
.sensor-info-item {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.sensor-info-item h4 {
  font-size: 15px;
  font-weight: bold;
  color: var(--base-text-color);
  margin-bottom: 8px;
}

.sensor-info-item p {
  font-size: 20px;
  color: var(--red-color);
  font-weight: bold;
  margin: 0;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--overview-card-bg-color);

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: var(--default-transition);
}

.sensor-info-item p.normal {
  color: var(--primary-color);
  background-color: var(--overview-card-bg-color);
}

.sensor-info-item p.normal:hover {
  background-color: #d4f8e7;
  transform: scale(1.05);
}

/* Highlight error text in red */
.error-text {
  color: var(--red-color);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f8d7da;
  padding: 12px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 10px;
}

/* Loading Spinner Styles */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

/* Button Styling */
button {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #026a4d;
}

button:active {
  background-color: #014c36;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.home-icon {
  transition: color 0.3s ease;
  font-size: 2rem;
  cursor: pointer;
  color: var(--icon-color);
}
