.content-area-top {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Distribute space between logo and date picker */
  padding: 16px;
  background-color: var(--background-color); /* Optional: Add background color */

  .area-top-l {
    display: flex;
    align-items: center;
    gap: 12px; /* Adjust spacing between elements */
  }

  .area-top-logo {
    height: 30%; /* Adjust the height of the logo */
    width: 30%; /* Maintain aspect ratio */
  }

  .area-top-r {
    display: flex;
    align-items: center;
    gap: 12px; /* Adjust spacing between date picker and other elements */

    .date-picker-wrapper {
      position: relative;

      .date-input {
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid var(--border-color);
        background-color: var(--secondary-color);
        color: var(--base-text-color);
        cursor: pointer;
      }

      .rdrCalendarWrapper {
        position: absolute;
        top: 50px; /* Adjust top position to ensure it's below the input */
        left: 0;
        z-index: 1000;
        background-color: var(--light-color);
        border-radius: 4px;
        box-shadow: var(--light-shadow1);
      }

      &.hide-date-picker .rdrCalendarWrapper {
        display: none;
      }
    }
  }
}
