.content-area-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background);

  .area-top-left {
    .area-top-logo {
      height: 42px;
      object-fit: contain;
    }
  }

  @media (max-width: 768px) {
    margin-top: 50px;
  }


  .area-top-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .clock-chip {
      font-size: 0.95rem;
      background-color: #e6f5f1;
      color: #034438;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 20px;

      .MuiChip-icon {
        color: inherit;
      }
    }

    
  }

  .dark-mode & {
    .clock-chip {
      background-color: #063f37;
      color: #d4f6ed;
    }

    .user-avatar {
      background-color: #016c55;
    }
  }
}
