.content-area-charts {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 16px;

  @media (max-width: 992px) {
    grid-template-columns: 100%;
  }
}

.progress-bar, .bar-chart {
  background-color: var(--secondary-color);
  padding: 16px;
  border-radius: 5px;
  box-shadow: var(--light-shadow1);
  position: relative;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 12px;
  }

  .progress-bar-title, .bar-chart-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color-inverted);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .chart-wrapper, .chart-wrapper-center {
    width: 100%;
    height: 350px;
  }

  .chart-wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.chart-wrapper-c {
  position: relative; /* Ensure proper positioning for the error message */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; /* Match the chart height */
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: red; /* Red color for the error message */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
