.bar-chart {
  background-color: var(--secondary-color);
  padding: 16px;
  border-radius: 6px;
  box-shadow: var(--light-shadow1);
  transition: background 0.3s ease, transform 0.3s ease;

  .bar-chart-title {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 8px;
  }

  .chart-wrapper-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bar-chart-value-label {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 8px;
    text-align: center;
    word-break: break-all;
    max-width: 90%;
  }

  .timestamp-label {
    font-size: 13px;
    text-align: right;
    margin-top: 8px;
    color: var(--text-color);
  }
}
