.content-area-cards {
  display: grid;
  grid-template-columns: 1fr; /* Ensure dropdown occupies full width in its row */
  margin-top: 12px;
  gap: 16px;

  .dropdown-container {
    margin-bottom: 20px;
    // background-color: var(--primary-color); /* Change to primary color */
    padding: 10px;
    border-radius: 5px;


    select {
      width: 100%;
      max-width: 300px;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid var(--light-border-color);
      background-color: var(--secondary-color);
      color: var(--lg-text-color);
      font-size: 16px;
      font-weight: bold;
      box-shadow: var(--light-shadow1);
      appearance: none;
      cursor: pointer;

      &:focus {
        outline: none;
        border-color: var(--primary-color);
      }
    }
  }

  .area-cards-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  .area-card {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px 16px;
    justify-content: space-between;
    box-shadow: var(--light-shadow1);

    @media (max-width: 768px) {
      padding: 12px;
    }

    .info-title {
      color: var(--lg-text-color);
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: bold;
    }

    .info-value {
      color: var(--xl-text-color);
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 8px;
    }

    .power-switch {
      display: flex;
      align-items: center;

      span {
        margin-left: 8px;
        color: var(--xl-text-color);
        font-weight: 700;
        font-size: 18px;
      }
    }
    .error-text {
      color: red;
      font-weight: bold;
    }
    
    
  }
}
/* Assuming you have a main .area-card class or similar structure */
.area-card input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.area-card input[type="number"]:focus {
  outline: none;
  border-color: #4ce13f; /* Highlight color on focus */
  box-shadow: 0 0 5px rgba(76, 225, 63, 0.5); /* Subtle shadow effect */
}

.area-card input[type="number"]:hover {
  border-color: #84bc45; /* Change border color slightly on hover */
}

.area-card input[type="number"]:disabled {
  background-color: #f5f5f5; /* Disable state color */
  border-color: #ddd;
  cursor: not-allowed;
}

