.content-area-cards {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 12px;
  gap: 16px;

  .dropdown-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .MuiSelect-root {
    background-color: #810022;
    color: #2c3e50;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s ease;

    &:hover {
      background-color: #e9eff3;
    }

    &:focus {
      outline: none;
      border-color: #03856d;
    }
  }

  .MuiInputLabel-root {
    font-weight: 500;
    color: #7f8c8d;
  }

  .area-cards-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  .area-card {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 20px 16px;
    justify-content: space-between;
    box-shadow: var(--light-shadow1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 12px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .info-title {
      color: var(--lg-text-color);
      font-size: 1.1rem; // Increased size for better readability
      margin-bottom: 8px;
      font-weight: bold;
    }

    .info-value {
      color: var(--xl-text-color);
      font-weight: 700;
      font-size: 1.5rem; // Larger text for better visual hierarchy
      margin-bottom: 8px;
    }

    .error-text {
      color: red;
      font-weight: bold;
    }

    padding: 18px;
  }

  .MuiButton-root {
    border-radius: 8px;
    font-weight: bold;
    background-color: #03856d; 
    color: white;

    &:hover {
      background-color: #016c55; 
    }
  }

  .area-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  

    svg {
      color: #fff;
      font-size: 24px;
    }
  }

  .control-selection-container {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
  }

  // Enhanced control sliders and inputs
  .MuiSlider-root {
    color: #03856d; // Slider color
  }

  .MuiSlider-thumb {
    background-color: #03856d;
  }

  input[type="number"] {
    width: 60px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #03856d;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    
    &:focus {
      border-color: #016c55;
    }
  }
}
